<h1 class="title">Robinson Cards</h1>

<div class="pile">
  <div class="cards">
    <figure class="deck card">
      <img *ngIf="deck.length" src="assets/images/battle-back.png">
      <figcaption>
        deck: {{ deck.length }}
      </figcaption>
    </figure>
  </div>

  <div class="pile">
    <div class="cards">
      <figure class="discarded card">
        <img *ngIf="discarded[0] as id" src="assets/images/battle-{{ id }}.png">
        <figcaption>
          discarded: {{ discarded.length }}
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="actions">
  <button (click)="playFreeCard.emit()" class="button" [disabled]="isPlayFreeDisabled()">
    play free
  </button>
  <button (click)="playPaidCard.emit()" class="button" [disabled]="isPlayPaidDisabled()">
    play paid
  </button>
  <button (click)="shuffleDeck.emit()" class="button" [disabled]="isShuffleDeckDisabled()">
    shuffle deck
  </button>
</div>
