.button
  padding: 0 $spacing-xs
  margin-bottom: $spacing-xs
  color: $white
  background: $blue

  =color($color, $darken-percentage)
    background: $color

    &:enabled:hover,
    &:enabled:focus
      background: darken($color, $darken-percentage)

  &:enabled:hover,
  &:enabled:focus
    background: darken($blue, 8%)

  &.-warning
    +color($yellow, 12%)

  &.-danger
    +color($orange, 20%)

  &:disabled
    background: $bg-disabled
    cursor: not-allowed
