.button
  color: $white
  background: $blue

  &:enabled
    &:hover,
    &:focus
      background: darken($blue, 8%)

  &.-warning
    background: $yellow

    &:enabled
      &:hover,
      &:focus
        background: darken($yellow, 12%)

  &:disabled
    background: $bg-disabled
    cursor: not-allowed
