html
  font-size: 16px

body
  font-family: $font-family-default
  font-size: 1em
  line-height: 1.5
  color: $text-color
  background: $white

h1,
h2,
h3
  font-family: $font-family-special
  margin-bottom: $spacing-default
  font-weight: bold
  line-height: 1.2

a,
a:active
  color: $blue

p
  margin-bottom: $spacing-default

  &:last-child
    margin: 0

ul,
ol
  margin: 0
  padding: 0
  list-style: none

.page-title
  font-size: $font-size-xs

.code
  padding: $spacing-sm
  color: $darkblue
  background: #eeeeee
  border-radius: $border-radius
