@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i)
@import url(https://fonts.googleapis.com/css?family=Oswald:400,600)

// fonts
$font-family-default: Ubuntu, Verdana, Geneva, sans-serif
$font-family-special: Oswald, sans-serif

$font-size-xs: 0.75em
$font-size-sm: 0.875em
$font-size-default: 1em
$font-size-lg: 1.25em
$font-size-xs: 1.5em


// colors
$white: #ffffff
$blue: #00bfff
$yellow: #ffdb99

$gray-darker-1: #333333
$gray: #666666
$gray-lighter-1: #999999
$gray-lighter-2: #dddddd

// general
$spacing-sm: 0.5em
$spacing-default: 1em
$spacing-lg: 1.5em
$spacing-xl: 2em
$spacing-xxl: 3em

$border-default: 1px solid $gray
$border-light: 1px solid $gray-lighter-2
$border-light-double: 2px solid $gray-lighter-2

$border-radius: 3px

$container-max: 60rem

// color mapping
$text-color: $gray-darker-1
$bg-disabled: $gray-lighter-2

