@import '~styles/variables'
@import '~styles/mixins/__index'

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: $spacing-lg
  padding-bottom: $spacing-default
  border-bottom: $border-light

.title
  margin: 0

.table
  display: grid
  height: 80vh
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 3fr 1fr
  grid-gap: $spacing-xs
  grid-template-areas: "destroyed pirates pirates aging" "hazard main main robinson" "round main main lives"

.game-section
  display: flex
  padding: $spacing-sm
  background: lighten($green, 60%)

  &.round
    grid-area: round

  &.lives
    grid-area: lives

  &.destroyed
    grid-area: destroyed

  &.hazard
    grid-area: hazard

  &.robinson
    grid-area: robinson

  &.aging
    grid-area: aging

  &.pirates
    grid-area: pirates

  &.battle
    grid-area: main
    background: lighten($red, 40%)

.pile
  margin: 0 $spacing-sm $spacing-sm 0

.cards
  width: 2em
  padding: $spacing-sm 0
  text-align: center
  border: 1px solid $gray-darker-1
