<section class="container">
  <h1>You are in an active game :)</h1>
  <p>Active game id: {{ gameId }}</p>

  <button (click)="reset()" class="button -danger">Reset active game state</button>

  <ng-container *ngIf="gameId">
    <span *ngIf="loading">Loading...</span>

    <ng-container *ngIf="!loading">
      <button *ngIf="!round" (click)="start()" class="button">Start game</button>
      <button *ngIf="round" (click)="continue()" class="button">Continue game</button>
    </ng-container>
  </ng-container>
</section>
