@import '~styles/variables'
@import '~styles/mixins/__index'

.table
  display: grid
  height: 80vh
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 3fr 1fr
  grid-gap: $spacing-xs
  grid-template-areas: "round pirates pirates lives" "hazard main main robinson" "destroyed main main aging"

.game-section
  padding: $spacing-sm
  background: lighten($green, 60%)

  &.round
    grid-area: round

  &.lives
    grid-area: lives

  &.destroyed
    grid-area: destroyed

  &.hazard
    grid-area: hazard
    flex-direction: column

  &.robinson
    grid-area: robinson
    flex-direction: column

  &.aging
    grid-area: aging

  &.pirates
    grid-area: pirates

  &.battle
    grid-area: main
    background: lighten($red, 40%)
