<section class="container active-game">
  <app-fr-header
    (continue)="continue()"
    (start)="start()"
    [activeGameId]="activeGameId"
    [availableActions]="availableActions"
    [currentRound]="currentRound$ | async"
    [difficulty]="difficulty"
    [loading]="loading$ | async"
    [playing]="playing$ | async"
  ></app-fr-header>

  <section *ngIf="playing$ | async" class="table">
    <section class="game-section round">
      <app-fr-round [currentRound]="currentRound$ | async"></app-fr-round>
    </section>

    <section class="game-section lives">
      <app-fr-lives [lives]="lives$ | async" [maxLives]="maxLives$ | async"></app-fr-lives>
    </section>

    <section class="game-section destroyed">
      <app-fr-destroyed [ids]="destroyedCardIds$ | async"></app-fr-destroyed>
    </section>

    <section class="game-section hazard">
      <app-fr-hazard-cards
        (drawHazardCards)="drawHazardCards()"
        (playHazardCard)="playHazardCard($event)"
        [actions]="availableActions"
        [deck]="hazardCardDeck$ | async"
        [discarded]="hazardDiscardPile$ | async"
        [entities]="hazardCardEntities$ | async"
        [optionIds]="hazardOptions$ | async"
      ></app-fr-hazard-cards>
    </section>

    <section class="game-section robinson">
      <app-fr-robinson-cards
        (playFreeCard)="playFreeBattleCard()"
        (playPaidCard)="playPaidBattleCard()"
        (shuffleDeck)="shuffleRobinsonCardDeck()"
        [actions]="availableActions"
        [deck]="robinsoncardDeck$ | async"
        [discarded]="robinsonsDiscardPile$ | async"
      ></app-fr-robinson-cards>
    </section>

    <section class="game-section aging">
      <app-fr-aging-cards [deck]="agingCardDeck$ | async"></app-fr-aging-cards>
    </section>

    <section class="game-section pirates">
      <app-fr-pirates [pirateIds]="pirateCardIds$ | async"></app-fr-pirates>
    </section>

    <section class="game-section battle">
      <app-fr-battle
        (deselectForDestruction)="deselectForDestruction($event)"
        (selectForDestruction)="selectForDestruction($event)"
        (lose)="loseBattle()"
        (confirmLose)="loseBattleConfirm()"
        (cancelLose)="loseBattleCancel()"
        (win)="winBattle()"
        [actions]="availableActions"
        [hazardCardEntities]="hazardCardEntities$ | async"
        [playedHazardCardId]="playedHazardCardId$ | async"
        [playedFreeComboIds]="playedFreeBattleComboIds$ | async"
        [playedPaidComboIds]="playedPaidBattleComboIds$ | async"
        [selectedForDestructionIds]="selectedForDestructionIds$ | async"
        [remainingFreeCardsAmount]="remainingFreeCardsAmount | async"
        [requiredBattlePoints]="requiredBattlePoints"
      ></app-fr-battle>
    </section>
  </section>
</section>
