<section class="container">
  <h1>Welcome to Friday, the game!</h1>

  <ng-container *ngIf="(user$ | async) as user; else login">
    <p>[ current user state ]</p>
    <pre class="code">{{ user | json }}</pre>

    <p>Choose your game from the list or start a new one:</p>

    <p>[ games state ]</p>
    <pre class="code">{{ gamesState$ | async | json }}</pre>

    <button class="button" (click)="createGame(user.id)">Create a new game</button>
  </ng-container>

  <ng-template #login>
    <a routerLink="/login">Login</a>
  </ng-template>
</section>
