<header class="header">
  <div class="left">
    <h1 class="title">{{ title }}</h1>
    <p>{{ subTitle }}</p>
  </div>

  <div class="center">
    <a routerLink="/" routerLinkActive="active">Home</a>
  </div>

  <div class="right">
    <ng-container *ngIf="(user$ | async) as user; else login">
      {{ user.name }}
      <button (click)="logout()" class="button -warning">Logout</button>
    </ng-container>

    <ng-template #login>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </ng-template>
  </div>
</header>
