<section class="container">
  <h1 class="page-title">Choose game:</h1>

  <ul class="list">
    <li *ngIf="!(user$ | async)" class="item">
      Please login if you want to play a game.
    </li>

    <li *ngFor="let game of (games$ | async)" class="item">
      <button (click)="selectGame(game.name)" class="button" [disabled]="!game.accessible || !(user$ | async)">{{ game.name }}</button>
      <span *ngIf="(user$ | async) && !game.accessible">(coming soon)</span>
    </li>
  </ul>
</section>

